.u-section-1 {
  background-image: url("images/gettyimages-675020930-170667a.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  width: 522px;
  text-transform: uppercase;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 50px 37px 0 68px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 69px 37px 0 68px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 50px 465px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 244px;
  margin: 97px 261px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 50px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 172px;
    margin-right: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 231px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }
}